h1{
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

h2{
    font-weight: bold;
}

p{
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}

ol,ul{
    list-style-position: inside;
}

.btn-primary{
    background-color: #dc3545 !important;
    border-color: #dc3545;
    transition: all 0.2s ease-in;

    &:hover{
        background-color: #a02733 !important;
        border-color: #a02733;
        border-radius: 15px;
    }
}

button{
    overflow: hidden;
}

a{
    color: #dc3545;
}

.active a{
    color: #dc3545 !important;
}

.light{
    background-color:#f8f9fa;
}

.card{
    border-radius: 15px;
}

.title-line {
    text-align: center;
    margin-top: -10px;
    
    .tl-1 {
       width: 80px;
       height: 2px;
       display: inline-block;
       background: #dc3545;
    }
    .tl-2 {
       display: inline-block;
       height: 12px;
       margin: 0 5px;
       position: relative;
       width: 12px;
       border: 1px solid black;
       border-radius: 50px;
       top: 5px;
    }
    .tl-3 {
       width: 80px;
       height: 2px;
       display: inline-block;
       background: #dc3545;
    }
 }
 

@media (min-width:40em) {
    h1{
        font-size: 2rem;
    }

    p{
        font-size: 1.1rem;
    }
}

@media (min-width:60em) {
    h1{
        font-size: 2.5rem;
    }

    p{
        font-size: 1.125rem;
    }
}

