.help-hero {
   min-height: 55vh;
   background-position: top;
   background-repeat: no-repeat;
   background-position: contain;
   background-image: url(../img/help-hero-mobile.jpg);
   // background-color: black;
}

.share-content{
   &:hover{
      text-decoration: none;
   }

   .share-content-item:hover{
      background-color: #eceff0;
   }
}

@media (min-width: 40em) {
   .help-hero {
      min-height: 70vh;
      background-position: center center;
      background-image: url(../img/help-hero.jpg);
   }
}
