.help-hero {
   min-height: 70vh;
   background-position: top;
   background-repeat: no-repeat;
   background-position: contain;
   background-image: url(img/help-hero-mobile.jpg);
   // background-color: black;
}

@media (min-width: 40em) {
   .help-hero {
      background-position: center center;
      background-image: url(img/help-hero.jpg);
   }
}
