.visa-hero{
    min-height: 80vh;
    .visa-hero-img{
        height: 70vh;
        background: url(../img/visas-hero-img.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
